@page
@model Final3.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Hello and welcome to my final project.</h2>
    <hr> 
    <p2>This is my final project where you can view playerz and their favorite games and how many hours they have on them. You can even add yourself into the table! You can check out the favorite games list as well and see some info about them! hope you enjoy.</aside></p2>
</div>

<div>
    <h2>Favorite Games</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.Title</td>
                    <td>@game.Genre</td>
                    <td>@game.ReleaseDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
