@page
@model Final3.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Hello and welcome to my final project.</h2>
    <p></p>
</div>

<div>
    <h2>Available Games</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.Title</td>
                    <td>@game.Genre</td>
                    <td>@game.ReleaseDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
